@mixin btn-join {
	border-radius: $border-radius-small;
	background-color: $btn-color;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	border: none;
	padding: 15px 45px;
	cursor: pointer;
}

@mixin link($color, $font-size) {
	&:link,
	&:visited {
		color: $color;
		font-size: $font-size;
	}
}

%text-align-center {
	text-align: center;
	font-weight: normal;
	font-size: 10px;
}

%side-by-side {
	display: inline-block;
	vertical-align: middle;
}

// ************ GENERAL ************

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font: 100% $font-stack;
	color: $color-grey-2;
	line-height: 1.3;
	background: $color-background;
}

button {
	@include btn-join;
}

.highlight-text {
	background-color: $color-highlight;
	// for height of background-color
	line-height: 45px;
	display: inline-block;
}

p[class*="heading"]:not(.section_card_heading) {
	font-weight: bold;
}

main .section_text,
.section_card_heading {
	font-weight: 600;
}

footer,
.header_text,
.landing-logo > p,
.section_card_text,
.section_banner_text {
	font-family: $font-logo;
}

main .section_text,
.section_banner_heading {
	color: $color-text-header;
}

// ************ <header> ************

header {
	background-image: $img-background;
	background-size: cover;
	background-position: center;
	padding: 15px 100px 180px 130px;
	border-bottom-right-radius: 40% 40%;
	color: $color-text-header;
}

.landing-logo {
	> img,
	> p {
		@extend %side-by-side;
	}
	> p {
		margin-left: 10px;
		font-size: 25px;
		font-weight: bold;
	}
	> p > span {
		// occur because its parent is now "PEAKS" instead 1 full line
		@extend %text-align-center;
		display: block;
	}
}

.header-wrap {
	> .header_heading {
		margin-bottom: 50px;
		font-size: 72px;
		width: 52%;
		line-height: 1;
	}

	> .landing-logo,
	> .header_text {
		margin-bottom: 25px;
	}

	> .header_text {
		line-height: 1.5;
	}

	.header_button {
		margin-right: 145px;
	}

	.login {
		@include link(#fff, 20px);
	}
}

// ************ <main> ************

main {
	margin: auto;
	margin-bottom: 50px;
	width: 70%;

	.section_text {
		padding: 35px 0;
		font-size: 41px;
		text-align: center;
	}
}

// ------section_card

.section_card {
	background-color: $color-card;
	padding: 19px;
	padding-right: 0;
	&:not(:last-child) {
		margin-bottom: 20px;
	}

	&,
	> img {
		border-radius: $border-radius-small;
	}

	> img,
	> div {
		@extend %side-by-side;
	}

	> div {
		// width: 58%;
		color: #fff;
		text-align: center;
		padding: 0 50px;
	}

	$icons: (
		"> img": 40%,
		">div": 58%,
	);
	@each $selector, $width in $icons {
		#{$selector} {
			width: $width;
		}
	}

	.section_card_right_container {
		> .section_card_heading {
			padding-bottom: 30px;
			font-size: 23px;
		}
		> .section_card_text {
			text-align: justify;
			padding-bottom: 25px;
			color: $color-card-text;
		}
		> .section_link {
			@include link($color-card-text, 16px);
		}
	}
}

//  ------ section_banner

.section_banner {
	position: relative;
	left: -5%;
	top: 100px;
	padding: 30px 90px 30px 120px;
	background-image: $color-linear-banner;
	border-radius: $border-radius-small;

	> .section_banner_text_wrap,
	> *:nth-child(2) {
		// nth-child(2) -- div contain button
		@extend %side-by-side;
	}

	> .section_banner_text_wrap {
		padding-top: 15px;
	}

	$icons: (
		"&": 110%,
		"> .section_banner_text_wrap": 60%,
		"> *:nth-child(2)": 35%,
	);
	@each $selector, $width in $icons {
		#{$selector} {
			width: $width;
		}
	}

	> *:nth-child(2) {
		text-align: right;
	}

	.section_banner_text_wrap {
		> .section_banner_heading {
			font-size: 30px;
			margin-bottom: 10px;
		}

		> .section_banner_text {
			color: $color-grey-5;
		}
	}
}

// ************ <footer> ************
footer {
	background-color: $color-footer;
	color: $color-footer-text;
}

.footer-wrap {
	padding: 100px 100px 50px 100px;

	> .footer_logo,
	> .footer_text,
	> .footer-cr {
		@extend %side-by-side;
	}

	> .footer_text {
		font-size: 14px;
	}

	$icons: (
		"> .footer_logo, > .footer-cr": 34%,
		"> .footer_text": 30%,
	);
	@each $selector, $width in $icons {
		#{$selector} {
			width: $width;
		}
	}

	> .footer-cr {
		text-align: right;
	}
}
