// -----------General
$font-stack: "Source Sans Pro", sans-serif;

$border-radius-small: 5px;

$color-grey-1: #21232e;
$color-grey-2: #333;
$color-grey-3: #3b3f50;
$color-grey-4: #a8aab6;
$color-grey-5: #ccc;

// -----------Seperated

$font-logo: "Fresca", sans-serif;

$color-highlight: #ff4e33;
$btn-color: #e3ac00;

$img-background: url(./../img/m-h-night.jpg);

$color-linear-banner: linear-gradient(to right, #dea504, #963250);
$color-text-header: #fff;
$color-background: $color-grey-1;
$color-card: $color-grey-3;
$color-card-text: $color-grey-5;

$color-footer: $color-grey-3;

$color-footer-text: $color-card-text;
