// -----------General
$font-stack: "Source Sans Pro", sans-serif;

$border-radius-small: 5px;

$color-grey-1: #21232e;
$color-grey-2: #333;
$color-grey-3: #3b3f50;
$color-grey-4: #a8aab6;
$color-grey-5: #ccc;

// -----------Seperated

$font-logo: "Hind", sans-serif;

$color-highlight: #14a0c7;
$btn-color: #699900;

$img-background: url(./../img/m-h-day.jpg);

$color-linear-banner: linear-gradient(to right, #66960c, #2f5dd0);
$color-text-header: $color-grey-2;
$color-background: #fff;
$color-card: $color-grey-1;
$color-card-text: $color-grey-4;

$color-footer: $color-grey-1;

$color-footer-text: $color-card-text;
