@mixin flex-v {
  display: flex;
  flex-direction: column;
}

// GENERAL
* {
  box-sizing: border-box;
}

body {
  @include flex-v;
  height: 100vh;
  font-family: $font-stack;
  align-items: center;
  margin: 0;
  padding: 0;
  background: #070136;
  overflow: hidden;
  // &::before {
  // 	padding-top: 100px;
  // 	content: '';
  // }
}

body,
*::after {
  color: white;
}

.hidden {
  display: none;
}
