.result {
  --resultMessfromJS: 'hol\A der';
  position: relative;
  &::after {
    content: var(--resultMessfromJS);
    position: absolute;
    top: 120%;
    left: -25%;
    white-space: pre-wrap;
    width: 150%;
  }
}

.btn-wraper {
  margin-bottom: 100px;
  display: flex;
  gap: 40px;
  .btn-game {
    position: relative;
    width: 250px;
    padding-top: 150px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(5px);
    font-weight: 600;

    &[data-value='paper'] {
      background-image: url(../img/paper.webp);
      color: white;
    }
    &[data-value='rock'] {
      background-image: url(../img/rock.webp);
      color: red;
    }
    &[data-value='scissors'] {
      background-image: url(../img/scissors.webp);
      color: aqua;
    }
    &::before {
      content: '';
      background: inherit;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      filter: sepia(1) blur(1px) brightness(0.4);
      transition: all 0.3s linear;
    }
    &:hover {
      &::before {
        filter: none;
      }
    }
  }
}

.btn-reset {
  text-align: center;
  background-color: rgb(0 255 102 / 30%);
  color: rgb(0, 0, 0);
  padding: 10px 50px;
  text-decoration: none;
  margin-bottom: 20px;
}

.score-board {
  width: 200px;
  text-align: center;
}

.bk-lose {
  background-image: url(../img/lose.gif) !important;
}
.bk-win {
  background-image: url(../img/win.gif) !important;
}
