body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 18px;
}

/* Your code goes here */
/* 

#76cdd8 - text 
#019999 - btn
rgb(118, 205, 216) -- btn:hover 


(plans) box-shadow: 0 0 0 0.2rem #24d4d4, 
(plans) for Button: background: #24d4d4

(focus) border-color: #24d4d4;
(focus) box-shadow: 0 0 0 0.2rem #24d4d4

*/

/* ----------- global  ----------- */
* {
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
}

*:focus {
	outline: none;
	border-color: #24d4d4;
	box-shadow: 0 0 0 0.2rem #24d4d4;
}

html {
	font-size: 10px;
}

body {
	line-height: 1.4;
	padding: 0 3rem;
	background-color: lightgrey;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
}

main,
section {
	background-color: #fff;
	margin-bottom: 3rem;
}

h2,
h3 {
	font-weight: 400;
}

/* ----------- reuse  ----------- */
a:link,
a:visited {
	text-decoration: none;
}

a.btn:link,
a.btn:visited,
.btn {
	color: #fff;
}

.btn {
	display: inline-block;

	cursor: pointer;
	border: none;
	background-color: #019999;
	padding: 1rem 2.5rem;
	transition: all 0.3s;

	font-size: inherit;
	font-family: inherit;
}

.btn:hover {
	background-color: #76cdd8;
}

/* ----------- style -----------  */

/* MAIN section */

.main {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

.main-section {
	display: flex;
	position: relative;
}

.main-section > * {
	/* flex: 1; */
	flex-basis: 50%;
}

.main-section:nth-child(even):before {
	content: "";
	position: absolute;

	top: 0;
	width: 0;
	height: 0;
	border-top: 50px solid #76cdd8;
	border-right: 50px solid transparent;

	opacity: 0;
	left: 0;
}

.main-section:nth-child(odd):before {
	content: "";
	position: absolute;

	top: 0;
	width: 0;
	height: 0;
	border-top: 50px solid #76cdd8;
	border-left: 50px solid transparent;

	opacity: 0;
	right: 0;
}

.main-section__card {
	display: flex;
	align-items: center;
	justify-content: center;

	color: #fff;
	background-color: #76cdd8;
}

.main-section__card--mix {
	flex-direction: column;
}
.main-section__wrap-img {
	display: inline-block;

	width: 35%;
	min-width: 18rem;
	aspect-ratio: 1/1;
	margin-bottom: 2rem;

	/* change fixed size = aspect ratio + % */

	/* width: 20rem;
	height: 20rem; */
	border-radius: 50%;
	overflow: hidden;
}

.main-section__wrap-img,
.main-section__wrap-img img {
	transition: all 0.3s;
}

.main-section__wrap-img img {
	height: 100%;
	width: 100%;
	/* can use <img> instead background-image to draw shape */
	object-fit: cover;
	/* transform: translateX(-25%); */
}

.main-section .info-block {
	align-self: center;
}

.main-section:hover .info-block {
	color: #76cdd8;
	transition: all 0.3s;
}

.main-section:nth-child(even):hover:before {
	opacity: 1;
	transition: all 1s;
}

.main-section:nth-child(odd):hover:before {
	opacity: 1;
	transition: all 1s;
}

.main-section__wrap-img:hover {
	transform: scale(1.5);
}

.main-section__wrap-img:hover img {
	transform: scale(0.8);
}

/* ABOUT section */
.about {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.about .img-block {
	background-image: url(./../img/image-02.jpg);
}

/* PRICING section */

.pricing {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 4rem;
	padding-right: 4rem;
	justify-items: center;
}

.pricing .img-block {
	background-image: url(./../img/image-03.jpg);
}

.pricing .service-card {
	margin: 3rem 0;
}

/* CTA section */
.cta {
	margin-bottom: 22rem;
	padding: 3rem 5rem 5rem 5rem;
	background-color: #24d4d4;
	position: relative;
}

.cta,
.footer {
	color: #fff;
}

.cta__heading {
	font-size: 2.5rem;
}

.cta .info-block {
	position: absolute;
	background-color: #fff;
	top: 12rem;
	left: 50%;
	transform: translate(-50%);
	width: 90%;
}

/* FOOTER section */
.footer {
	background-color: #019999;
	display: flex;
	justify-content: space-around;
	padding: 6rem 0 3rem 0;
}

.footer__address {
	font-style: normal;
}

.footer__heading {
	font-weight: 600;
	margin: 0;
	font-size: 2rem;
}

.footer p {
	margin: 0.5rem;
}

/* ------------ COMPONENT ------------ */
/* (1) info-block */
.info-block {
	padding: 2rem 5rem;
}

.info-block__heading {
	line-height: 1.2;
	color: #76cdd8;
	font-weight: 500;
}
.info-block__quote {
	font-style: italic;
}

/* (2) btn */

.text-aright {
	text-align: right;
}

.text-acenter {
	text-align: center;
}

.wrap-btn--additional {
	position: relative;
}

.wrap-btn--additional__notice {
	position: absolute;
	display: none;

	width: 100%;
	margin: 0;

	font-size: 60%;
	text-align: center;
	color: #24d4d4;
}

.wrap-btn--additional__notice:before {
	content: "*";
	color: red;
}

.wrap-btn:hover .wrap-btn--additional__notice {
	display: block;
}

/* (3) img-block */

.img-block {
	width: 100%;
	/* height: 100%; */
	background: url(./../img/image-01.jpg);
	background-size: cover;
	background-position: center;
	transition: all 0.3s;
}
.img-block:hover {
	transform: scale(1.05);
}

/* (4) service-card */

.service-card {
	border: 1px solid #019999;
}
.service-card__title {
	background-color: #019999;
	color: #fff;
	text-align: center;
	padding: 1rem 1rem;
}

.service-card__detail {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem 3rem;
}

.service-card__detail ul {
	list-style: none;
	padding: 0;
}

.service-card__detail .wrap-btn {
	align-self: center;
	margin-top: 2rem;
}

.service-card--advanced {
	transition: transform 0.3s;
}

.service-card--advanced:hover {
	transform: scale(1.1);
}

.service-card:hover {
	box-shadow: 0 0 0 0.2rem #24d4d4;
}

.service-card:hover .btn {
	background-color: #24d4d4;
}
/* (5) firm sign up */

.form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 4rem);
	row-gap: 1rem;
	column-gap: 2rem;

	margin: 3rem 0;
}

.form input,
.form select,
.form textarea {
	font-family: inherit;
	font-size: 16px;
	padding: 0 1rem;
	background-color: #fff;
	color: grey;
}

.form input,
.form textarea {
	border: 1px solid lightgrey;
}

.form select {
	border: 1px solid grey;
}

.form textarea {
	grid-column: 2;
	grid-row: span 3;
}

.form .wrap-btn--center {
	grid-row: -1;
	grid-column: span 2;
	margin-top: 2rem;
}
