/* Black: #111 -- text
Grey: #525252 -- text
white
coral -- btn
lightcoral */

/*Your code goes here*/

.body {
	font-family: Roboto, sans-serif;
	color: #111;
}

.navbar__brand {
	font-size: 2rem;
}

.navbar-nav__link {
	font-weight: 500;
}

.hero-subtext {
	color: #525252;
}

.btn_orange {
	color: white;
	background-color: coral;
	border-color: coral;
}

.btn_orange:hover {
	background-color: lightcoral;
	border-color: lightcoral;
}
