/* write your styles here */
body {
	font-family: sans-serif;
}

.h1 {
	text-align: center;
}

table {
	/* table-layout: fixed; */
	width: 90%;
	margin: 20px auto;
	border: 1px solid #f2f2f2;
	border-collapse: collapse;
	text-align: center;
}

th {
	background-color: #4caf50;
	color: #fff;
}

td,
th {
	border: 1px solid #f2f2f2;
	padding: 20px;
}

tbody tr:nth-child(odd) {
	background-color: #f2f2f2;
}

tbody tr:hover {
	background-color: #dddddd;
}
.form {
	margin: auto;
	width: 400px;
}
.form > div {
	display: flex;
	align-items: center;
}

.form > div > *:not(p) {
	flex-grow: 1;
}

.form + p {
	text-align: center;
}

.sort-btn {
	cursor: pointer;
	font-weight: bold;
	color: yellow;
	font-size: 20px;
}
