.landing-logo > p > span {
  text-align: center;
  font-weight: normal;
  font-size: 10px; }

.landing-logo > img,
.landing-logo > p, .section_card > img,
.section_card > div, .section_banner > .section_banner_text_wrap,
.section_banner > :nth-child(2), .footer-wrap > .footer_logo,
.footer-wrap > .footer_text,
.footer-wrap > .footer-cr {
  display: inline-block;
  vertical-align: middle; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font: 100% "Source Sans Pro", sans-serif;
  color: #333;
  line-height: 1.3;
  background: #21232e; }

button {
  border-radius: 5px;
  background-color: #e3ac00;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 15px 45px;
  cursor: pointer; }

.highlight-text {
  background-color: #ff4e33;
  line-height: 45px;
  display: inline-block; }

p[class*="heading"]:not(.section_card_heading) {
  font-weight: bold; }

main .section_text,
.section_card_heading {
  font-weight: 600; }

footer,
.header_text,
.landing-logo > p,
.section_card_text,
.section_banner_text {
  font-family: "Fresca", sans-serif; }

main .section_text,
.section_banner_heading {
  color: #fff; }

header {
  background-image: url(./../img/m-h-night.jpg);
  background-size: cover;
  background-position: center;
  padding: 15px 100px 180px 130px;
  border-bottom-right-radius: 40% 40%;
  color: #fff; }

.landing-logo > p {
  margin-left: 10px;
  font-size: 25px;
  font-weight: bold; }
.landing-logo > p > span {
  display: block; }

.header-wrap > .header_heading {
  margin-bottom: 50px;
  font-size: 72px;
  width: 52%;
  line-height: 1; }
.header-wrap > .landing-logo,
.header-wrap > .header_text {
  margin-bottom: 25px; }
.header-wrap > .header_text {
  line-height: 1.5; }
.header-wrap .header_button {
  margin-right: 145px; }
.header-wrap .login:link, .header-wrap .login:visited {
  color: #fff;
  font-size: 20px; }

main {
  margin: auto;
  margin-bottom: 50px;
  width: 70%; }
  main .section_text {
    padding: 35px 0;
    font-size: 41px;
    text-align: center; }

.section_card {
  background-color: #3b3f50;
  padding: 19px;
  padding-right: 0; }
  .section_card:not(:last-child) {
    margin-bottom: 20px; }
  .section_card,
  .section_card > img {
    border-radius: 5px; }
  .section_card > div {
    color: #fff;
    text-align: center;
    padding: 0 50px; }
  .section_card > img {
    width: 40%; }
  .section_card > div {
    width: 58%; }
  .section_card .section_card_right_container > .section_card_heading {
    padding-bottom: 30px;
    font-size: 23px; }
  .section_card .section_card_right_container > .section_card_text {
    text-align: justify;
    padding-bottom: 25px;
    color: #ccc; }
  .section_card .section_card_right_container > .section_link:link, .section_card .section_card_right_container > .section_link:visited {
    color: #ccc;
    font-size: 16px; }

.section_banner {
  position: relative;
  left: -5%;
  top: 100px;
  padding: 30px 90px 30px 120px;
  background-image: linear-gradient(to right, #dea504, #963250);
  border-radius: 5px; }
  .section_banner > .section_banner_text_wrap {
    padding-top: 15px; }
  .section_banner {
    width: 110%; }
  .section_banner > .section_banner_text_wrap {
    width: 60%; }
  .section_banner > *:nth-child(2) {
    width: 35%; }
  .section_banner > *:nth-child(2) {
    text-align: right; }
  .section_banner .section_banner_text_wrap > .section_banner_heading {
    font-size: 30px;
    margin-bottom: 10px; }
  .section_banner .section_banner_text_wrap > .section_banner_text {
    color: #ccc; }

footer {
  background-color: #3b3f50;
  color: #ccc; }

.footer-wrap {
  padding: 100px 100px 50px 100px; }
  .footer-wrap > .footer_text {
    font-size: 14px; }
  .footer-wrap > .footer_logo, .footer-wrap > .footer-cr {
    width: 34%; }
  .footer-wrap > .footer_text {
    width: 30%; }
  .footer-wrap > .footer-cr {
    text-align: right; }
