/* #B7C8D9 btn-hover
#FFF background
#F3F3F3 background
#F0F0F0 border-bottom
#E8E8E8 button-text + 3-hour-ago
#A4A4A4 footer-copy-right
#9E9E9E footer-col
#343638 button
#000 yes

font-family: Open Sans (http://fonts.googleapis.com/css?family=Open+Sans)


/* *********** GLOBAL ******* */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	line-height: 1.3;
	font-weight: 400;
	font-family: "Open Sans";
	background: #fff;
}

ul {
	list-style: none;
}

a:link,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover,
.btn--white-line:hover {
	color: lightgreen;
	transition: 0.3s color;
}

h2 {
	/* section-heading */
	font-size: 2.4rem;
	font-weight: 400;
}

/* ************ COMMON ************* */

.space-both-size {
	padding-left: 5rem;
	padding-right: 5rem;
}

.flex {
	display: flex;
	align-items: center;
}

.flex--between {
	justify-content: space-between;
}

.v-padding-both {
	padding-top: 12rem;
	padding-bottom: 12rem;
}

.form-subscribe {
	align-items: stretch;
	height: 6rem;
	border: 1px solid #000;
}

.form-subscribe button,
.form-subscribe input {
	font-size: 80%;
}

.form-subscribe input {
	width: 100%;
	flex: 1;
	background-color: #f3f3f3;
}

.form-subscribe input {
	border: none;
}

.form-subscribe input::placeholder {
	color: inherit;
}

.form-subscribe button {
	background-color: #343638;
	color: #e8e8e8;
	border: none;
	max-width: 10rem;
	font-family: inherit;
	cursor: pointer;
}

.form-subscribe button:hover {
	background-color: #b7c8d9;
	transition: 0.3s background-color;
}

/* ************* <header> *************** */

.header {
	position: relative;
	background: url("./../img/apples.jpg") center/cover no-repeat;
	color: #fff;
	height: 100vh;
	padding-top: 5rem;
}

.header-bar {
	margin-bottom: 30rem;
}

.header-bar-brand {
	letter-spacing: 0.3rem;
}

.header-bar-nav > ul {
	gap: 5rem; /* .space-both-size (padding-right)*/
}

.header-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -35%);
	/* minus .btn-header(margin-top) */

	min-height: 30rem;
	height: 60%;
}

.header-brand {
	letter-spacing: 0.6rem;
	font-size: 6rem;
	font-weight: 400;
}
.header-brand > span {
	font-size: 200%;
}

.header-text-container > .btn-header {
	/* position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, -50%); */
	margin-top: auto;
	padding: 2rem 8rem;
}

.btn--white-line {
	background-color: rgba(0, 0, 0, 0.3);
	border: 2px solid #fff;
	cursor: pointer;
}

.btn--white-line:hover {
	background-color: rgba(0, 0, 0, 0.8);
	border-color: inherit;
	transition: background-color 0.3s;
}

/* ************* <about> *************** */
.section-about {
	gap: 3rem;
}

.section-about > * {
	flex: 1;
}

/* ************* <featured> *************** */
.section-featured {
	background-color: #f3f3f3;
	padding-bottom: 5rem;
}

.section-featured > h2 {
	text-align: center;
	padding-bottom: 8rem;
}

.featured-flex-container {
	margin-bottom: 2rem;
	gap: 2rem;
}

.featured-flex-container > div {
	flex: 2;
	position: relative;
}

.featured-flex-container > div > p,
.featured-flex-container > div > span {
	position: absolute;
	color: #fff;
	/* largerer than :after -- overflow shadow */
	z-index: 2;
}

.featured-flex-container > div > span {
	right: 2rem;
	top: 2rem;
	display: inline-block;
	padding: 0.5rem 1rem;
}

.featured-flex-container > div > p {
	left: 2rem;
	bottom: 2rem;
}

.featured-flex-container > div:after {
	/* new trick: add box-shadow:inset over the img */
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	left: 0;
	box-shadow: inset -15px -25px 50px 20px rgba(0, 0, 0, 0.3);
}

.featured-flex-container img {
	width: 100%;
}

.featured-flex-container > p {
	flex: 1;
	text-align: center;
}

.featured-flex-container:nth-of-type(even) {
	flex-direction: row-reverse;
}

.cta-subscribe-container {
	background-color: #fff;
	padding: 0 2rem;
	height: 12rem;
	margin-top: 5rem;
	gap: 2rem;
}

.cta-subscribe-container input,
.cta-subscribe-container button {
	padding: 0 2rem;
	font-size: 1.4rem;
}

.cta-subscribe-container .form-subscribe {
	flex: 1;
}

/* ************* <footer> *************** */

footer {
	color: #9e9e9e;
}

.footer-heading,
.footer-bar-nav {
	color: #000;
}

.footer-container {
	gap: 3rem;
	align-items: stretch;
	border-bottom: 2px solid #f0f0f0;
}

.footer-container > * {
	flex: 1;
}

.footer-heading {
	margin-bottom: 3rem;
	font-weight: 600;
	font-size: 2rem;
}

.tweet-col > blockquote {
	font-style: italic;
	margin-bottom: 1rem;
}

.tweet-col > p:last-child {
	color: #e8e8e8;
}

.contact-col address {
	flex-direction: column;
	align-items: stretch;
	gap: 0.8rem;
	font-style: normal;
}

.subscribe-col > p:nth-child(2) {
	margin-bottom: 1rem;
}
.subscribe-col .form-subscribe {
	height: 4rem;
}

.subscribe-col input,
.subscribe-col button {
	padding: 0 1rem;
}

.footer-bar {
	padding: 2rem;
	color: #a4a4a4;
}

.footer-bar-nav > ul {
	gap: 3rem;
}
