body {
	display: flex;
	justify-content: center;
}

#root {
	width: 50%;
}
/* Display page */
h1 {
	text-align: center;
	margin: 0;
}
#navigationButtons {
	display: flex;
	gap: 80px;
}

.tweet__text {
	cursor: pointer;
	flex-grow: 1;
	overflow-wrap: anywhere;
	margin-right: 50px;
}

.tweet__text:hover {
	background-color: lightgrey;
}

#list {
	list-style: none;
	padding: 0;
}

.tweet-item {
	display: flex;
	align-items: center;
}

.like {
	background-color: #3bb44b;
}
.unlike {
	background-color: #f44236;
}

/* Modify form */

#modifyItem,
#tweetItems {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#modifyItemInput {
	width: 60%;
	height: 100px;
}
/* Alert message */
#alertMessage {
	background-color: lightgrey;
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px 10px;
}

/*  */

.hidden {
	display: none !important;
}
