/*
* Colors used in design.
*   primary: #0078aa;
*   secondary: #47c9e5; 
*   dark: #363636;
*   light: ;
* font-size: 1.4 / 1.6 / 4.4

*/

/* Mobile design from 0px to 768px */

/* --------GLOBAL */
:root {
	--primary: #0078aa;
	--secondary: #47c9e5;
	--dark: #363636;
	--light: #fff;
	--sm-padding: 1.5rem;
	--big-padding: 3rem;
	--height-header: 12rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	line-height: 1;
	font-weight: 400;
	font-size: 1.5rem;
}

ul,
ol {
	list-style: none;
}

a:link,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: var(--primary);
}

/* --------COMMON */
.container {
	text-align: center;
}

.flex {
	display: flex;
	align-items: center;
}

.flex--col {
	display: flex;
	flex-direction: column;
}

.flex--between {
	justify-content: space-between;
}

.h-padding-big {
	padding-right: var(--big-padding);
	padding-left: var(--big-padding);
}
.h-padding-sm {
	padding-right: var(--sm-padding);
	padding-left: var(--sm-padding);
}

.section-heading {
	font-size: 3.4rem;
	margin-bottom: 1rem;
}

h3,
.heading-describe {
	font-size: 1.6rem;
}

h3 {
	margin-bottom: var(--sm-padding);
}

.heading-describe {
	margin-bottom: 2.5rem;
}

section {
	padding-top: 4rem;
	padding-bottom: var(--big-padding);
}

.btn {
	padding: 1.5rem 2.5rem;
	border-radius: 12px;
	font-weight: bold;
	cursor: pointer;
}

.screen-reader {
	/* dont use display:none or visibility:hidden */
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	width: 1px;
	overflow: hidden;
	position: absolute !important;
	word-wrap: normal !important;
}

.hero-logo,
.cta-btn {
	border: 2px solid var(--primary);
	background-color: var(--primary);
}

.hero-logo:hover,
.cta-btn:hover {
	background-color: var(--light);
	cursor: pointer;
}

/* ---------<header> */
.header {
	position: fixed;
	top: 0;
	padding-top: var(--big-padding);
	padding-bottom: var(--big-padding);
	/* fixed-height to fill height-collapse later */
	height: var(--height-header);
	width: 100%;
	background-color: var(--light);
}
.header-logo-container {
	width: 4rem;
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: var(--sm-padding);
}
.header-logo-container img {
	width: 100%;
}

.header .header-nav {
	font-weight: bold;
	font-size: 1.4rem;
}

.header-nav .flex {
	flex-wrap: wrap;
	gap: 0.5rem;
}

/* ---------<section-hero> */
main {
	/* fill height-collapse */
	margin-top: var(--height-header);
}

.section-hero {
	padding-top: 10rem;
	padding-bottom: var(--big-padding);
	background: url(./../img/header_bg.jpg) no-repeat;
	background-size: cover;
	background-position: 25%;
}

.section-hero h1 {
	font-size: 4rem;
}

.section-hero .container > *:nth-child(1),
.section-hero .container > *:nth-child(2) {
	margin-bottom: 4rem;
}

.hero-logo-container {
	justify-content: space-between;
	/* gap: 10rem; */
	max-width: 60%;
	margin: auto;
}

.hero-logo {
	display: flex;
	padding: 0.8rem;
	height: 5.5rem;
	width: 5.5rem;
	border-radius: 50%;
}

.hero-logo a {
	/* still dont know why it can centering vertical */
	display: flex;
	width: 100%;
}

.hero-logo svg {
	fill: var(--light);
}

.hero-logo:hover svg {
	fill: var(--primary);
}

/* ---------<section-about> */
.section-about {
	text-align: center;
}
.section-about > div:first-child img,
.section-cta > div:first-child img {
	width: 100%;
}

.section-about .heading-describe {
	color: var(--primary);
}

.section-about .content-container {
	gap: var(--big-padding);
}

.about-h3:before {
	content: "⇨";
	margin-right: 1rem;
	color: var(--primary);
}

/* ---------<section-services> */

.section-services {
	background: url(./../img/services_bg.jpg) no-repeat;
	background-size: cover;
}

.section-services .content-container {
	gap: var(--big-padding);
	text-align: left;
}

.section-services figure {
	background-color: var(--light);
	padding-top: var(--big-padding);
	padding-bottom: var(--big-padding);
}

/* ---------<section-pricing> */

.section-pricing {
	background: url(./../img/pricing_bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

.section-pricing .content-container {
	gap: var(--sm-padding);
}

.section-pricing figure {
	max-width: 40rem;
	width: 90%;
	margin: 0 auto;
	padding-left: var(--sm-padding);
	padding-right: var(--sm-padding);
	padding-top: 4rem;
	padding-bottom: var(--big-padding);
}

.section-pricing figure:nth-child(odd) {
	background-color: var(--secondary);
	color: var(--light);
}
.section-pricing figure:nth-child(even) {
	background-color: var(--light);
	color: var(--primary);
	border: solid var(--primary);
	border-width: 1px 1px 2px 2px;
}

.pricing-heading {
	font-size: 2.7rem;
	font-weight: bold;
}
.price {
	font-size: 5.5rem;
	font-weight: 800;
	margin: 2rem 0 1.5rem 0;
}
.pricing-treatments {
	font-size: 1.6rem;
}
.pricing-features {
	font-size: 1.4rem;
	gap: var(--big-padding);
	padding-top: 4rem;
	padding-bottom: var(--big-padding);
}

.pricing-btn {
	align-self: center;
	font-size: 1.8rem;
	border: 2px solid var(--primary);
	color: var(--primary);
	background-color: var(--light);
	font-family: inherit;
}

.pricing-btn:hover {
	color: var(--light);
	background-color: var(--primary);
}
/* ---------<section-cta> */
.section-cta .container {
	padding-top: var(--big-padding);
}

.section-cta .content-container {
	padding-left: var(--sm-padding);
	padding-right: var(--sm-padding);
	gap: 1rem;
}

.section-cta input {
	background: none;
	border: none;
	padding: 0.5rem 1rem;
	width: 100%;
}

.section-cta input:not([name*="date"]) {
	border-bottom: 1px solid lightgrey;
}

.section-cta input::placeholder {
	font-size: 1.3rem;
	font-style: italic;
	letter-spacing: -0.2px;
}

.section-cta input[name*="date"]::placeholder {
	font-family: serif;
	font-style: normal;
	color: var(--dark);
	font-size: 1.2rem;
	letter-spacing: 0.5px;
}

.cta-btn {
	margin-top: 2rem;
	align-self: center;
	font-size: 1.4rem;
	color: var(--light);
}

.cta-btn:hover {
	color: var(--primary);
}

/* ---------<footer> */
.footer {
	text-align: center;
	background-color: var(--dark);
	color: var(--light);
	padding-top: var(--big-padding);
	padding-bottom: var(--big-padding);
}

.up-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 5%;
	right: 5%;
	background-color: var(--primary);
	height: 5rem;
	width: 5rem;
	padding: 0.8rem;
	border-radius: 50%;
	border: 2px solid var(--primary);
}

.up-icon svg {
	width: 40%;
	fill: var(--light);
}

.up-icon:hover {
	background-color: var(--light);
}

.up-icon:hover svg {
	fill: var(--primary);
}

/* ------------------------------------------------------------media queries---------------------------------------------  */

/* Tablet style from 768px to 1280px  */
@media (min-width: 768px) {
	html {
		font-size: 10.5px;
	}
	:root {
		--height-header: 10rem;
	}
	/* ---header--- */

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: var(--sm-padding);
	}
	.header-nav .flex {
		gap: 2rem;
	}
	.header-logo-container {
		margin-bottom: 0;
		margin-left: 0;
	}

	/* ---hero--- */
	.section-hero {
		padding-top: 15rem;
		padding-bottom: 15rem;
		background-position: 45%;
	}
	.section-hero .container {
		max-width: 70rem;
		width: 80%;
		text-align: left;
	}

	.hero-logo-container {
		margin-left: 0;
		max-width: 45%;
	}
	/* ---about--- */
	.section-about,
	.section-cta {
		display: flex;
		align-items: center;
	}
	.section-about > div,
	.section-cta > div {
		flex: 1;
	}

	.section-about .container,
	.section-cta .container {
		text-align: left;
	}

	/* ---services--- */

	.section-services .content-container,
	.section-pricing .content-container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 0;
	}

	.section-services figure {
		width: 30%;
		margin: 1rem 0;
	}
	/* ---pricing--- */

	.section-pricing .content-container {
		justify-content: center;
		align-items: center;
	}

	.section-pricing figure {
		margin: 0;
		width: 33%;
		max-width: 300px;
	}
	.section-pricing figure:nth-child(2) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	/* ---cta--- */
	.section-cta .container {
		background-color: var(--light);
		padding-bottom: 4rem;
	}

	.section-cta {
		align-items: stretch;
		padding-bottom: 0;
	}

	.section-cta > div:first-child {
		z-index: -1;
	}

	.section-cta > div:first-child img {
		width: 160%;
		height: 100%;
	}

	.cta-btn {
		align-self: flex-start;
	}
}

/* Desktop style from 1280px to larger------------------------------------------------------------  */
@media (min-width: 1280px) {
	body,
	.header {
		max-width: 1440px;
		margin: auto;
	}
	.container.h-padding-sm,
	.container.h-padding-big,
	.header.h-padding-big {
		padding-right: 10rem;
		padding-left: 10rem;
	}

	section {
		padding-top: 4rem;
		padding-bottom: 6rem;
	}

	/* ---header--- */

	.section-hero h1 {
		font-size: 4rem;
	}
	.section-hero .container {
		max-width: 900px;
	}

	/* ---about--- */

	.section-about {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
	.section-about .container {
		padding-left: 4rem;
	}

	/* ---cta--- */
	.section-cta > div:first-child img {
		width: 120%;
	}
	.section-cta .container {
		padding-left: 4rem;
	}
}
