/* -----------GENERAL--------- */
:root {
	--main-color: #87cefa;
}

.tm-content-box.flex-2-col div {
	display: inline-block;
	vertical-align: middle;
}

/* Task 8 */
section:first-of-type .tm-section-description {
	text-indent: 30px;
	line-height: 30px;
}

/* -----------SCREEN--------- */
@media screen {
	/* Task 2 */
	.box-bg:hover {
		background-color: var(--main-color);
	}

	.box-bg:hover h2.tm-section-title {
		color: #fff;
		font-weight: bold;
	}

	/* Task 3 */
	p:first-letter {
		color: var(--main-color);
		font-size: 30px;
	}

	/* Task 4 */
	.tm-content-box,
	.tm-main-nav {
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
	}
	.tm-banner-inner {
		background-color: #fff;
		border: 1px solid lightgrey;
	}

	.tm-banner {
		background-color: #f5f5f5;
	}

	/* Task 5 */
	section:before {
		content: "";
		width: 300px;
		height: 250px;
		background-color: var(--main-color);
		clip-path: polygon(75% 0, 0 0, 0 12%);
	}

	/* Task 6 */
	.carousel-content .tm-section-title {
		color: gainsboro;
		letter-spacing: 5px;
	}

	/* Task 7 */

	h2 + p {
		font-style: italic;
	}

	/* Task 8 */
	.tm-team-description-container {
		width: 31%;
	}

	.tm-content-box .flex-item:nth-child(2) {
		width: 68%;
		transform: translateX(10px);
	}

	.tm-content-box .flex-item img {
		width: 100%;
	}

	/* Task 9 */
	.heading a:link {
		color: #000;
		/* best trick */
		text-decoration: underline;
		text-decoration-color: #fff;
	}
	.heading a:visited {
		color: #000;
		text-decoration-color: #000;
	}
	.heading a:hover {
		color: var(--main-color);
		text-decoration-style: double;
		text-decoration-color: var(--main-color);
	}

	.heading li:nth-child(1):after,
	.heading li:nth-child(3):after {
		content: "New";
		color: red;
		font-size: 0.6em;
		vertical-align: super;
	}

	/* Task 10 */
	.blocks li {
		padding: 6px;
	}
	.blocks li:nth-child(even) {
		background-color: #f2f2f2;
	}
	.blocks .box h2 + p:first-letter {
		color: #000;
	}

	/* Task 11 */
	.submit-btn {
		display: block;
		margin-left: auto;
		background-color: #fff;
		color: var(--main-color);
		border: 1px solid var(--main-color);
		width: 170px;
		height: 50px;
		border-radius: 0;
	}

	.submit-btn:hover {
		background-color: var(--main-color);
		color: #fff;
		border: 1px solid var(--main-color);
	}

	.form-group-2-col-right:after {
		content: "*";
		color: red;
		font-weight: bold;
	}

	/* Task 12 */
	.tm-nav-item:hover {
		background-color: #f5f5f5;
	}
}

/* -----------PRINT--------- */
@media print {
	/* Task 1 */
	section:not(:first-of-type),
	#about,
	.tm-sidebar {
		display: none;
	}

	.tm-main-content {
		width: 600px;
		margin: auto;
	}

	.tm-banner-inner {
		width: 90%;
	}

	p:first-letter {
		font-size: 30px;
		color: #62bfc7;
	}
	/* --- "We are" section --- */
	.tm-team-description-container {
		width: 370px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.tm-content-box .flex-item img {
		vertical-align: middle;
		width: 170px;
	}

	.tm-content-box,
	.tm-banner {
		margin-bottom: 0;
	}

	h2.tm-section-title:first-child {
		color: blue;
	}

	h2 + .tm-section-description {
		font-style: italic;
	}
}
